body {
    width: 940px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    position: relative;
    height: 100px;
    width: 940px;
}

.sacola-compras {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 0;
    font-size: 12px;
    width: 160px;
}

.sacola-compras img {
    float: right;
}

.menu-inicial {
    position: absolute;
    right: 0px;
    top: 50px;
    margin-right: 0px;
}

.menu-inicial ul li {
    display: inline;
    font-size: 14px;
    margin-left: 10px;
}

#about_h1 {
    background-image: url(img/sobre-background.jpg);
    padding: 10px;
}

figcaption {
    font-style: italic;
    margin: 10px;
}

figure {
    padding: 15px;
    margin:30px;
    text-align: center;
    background-color: #efefef;
    border: 1px solid #cccccc;
}

#centrodistribuicao {
    width:550px;
    margin-left: auto;
    margin-right: auto;
}